div.card{
    height:350px;
    width:250px;
    display: flex;
    flex-wrap: wrap;
    border: 2px double black;
    overflow: scroll;
    /* scrollbar-width: none; */
}
div.main{
    margin: 0px auto ;
    display: flex;
    /* gap:10px; */
    flex-wrap: wrap;
}
img{
    height: 100px;
    width: 100px;
}